*{
    margin: 0;
    padding: 0;
}
.menu-container{
    background-color: rgb(36, 35, 35);
    padding: 20px;
    display: flex;
    color: aquamarine;
    align-items: center;
    justify-content: space-around ;
}
.logo-photo{
    width: 120px;
}
.menus{
    list-style: none;
    display: flex;
}
.item{
    margin-right: 20px;
    padding-right: 7px;
    font-size: 20px;
    cursor: pointer;
}
.item:hover{
    color: blueviolet;
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: white;
    background-image: url("./images/background.png"),linear-gradient(45deg,rgb(0, 0, 0),rgb(39, 39, 39));
}
.title{
    font-size: 60px;
    font-weight: bold;
}
.des{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 15px 23px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}
.about-img{
    width: 300px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.about-h{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.box{
    width: 250px;
    height: 320px;
    box-shadow: 4px 4px 50px grey;
    background-color: rgb(26, 26, 26);
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
.icon{
    width: 70px;
}
.box-btn{
    background-color: grey;
    margin-top: 10px;
}
.box-title{
    padding: 10px;
}
.box-des{
    padding: 10px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 15px;
}
.service-main{
    color: white;
    background-image: url("./images/background.png"),linear-gradient(45deg,rgb(0, 0, 0),rgb(39, 39, 39));
}